h1 {
    color: yellow;
    text-align: center;
}
body {
    background-color:black;
    color: cornsilk;
    text-align: center;
}

div.formulario {
    padding-left: 10rem;
    line-height: 25px;
}

#contador {
    padding-left: 10rem;
    color: red;
}